/* You can add global styles to this file, and also import other style files */
/* Colors */
$dark_green: #2C6E49;
$sea_green: #4C956C;
$light_yellow: #FEFEE3;
$melon: #FFC9B9;
$persian_orange: #D68C45;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
